@tailwind base;
@tailwind components;
@tailwind utilities;

h2{
  color:brown;
  font-size:34px;
  font-weight:700;
  text-align:center;
  margin:20px auto;

}

.title{
  color:blueviolet;
  font-size:18px;
  margin:0
}
